:root {
    --text-primary: black;
    --text-secondary: white;
    --bg-1: rgb(77, 47, 77);
    --bg-2: rgba(216, 162, 247, 0.904);
    --bg-img: url(../Icons/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
}

*{
    margin: 0;
    padding: 0;
}

img {
    height: 80px;
    width: 80px;
}

.home {
    height: 6rem;
    width: 100vw;
    background-color: var(--bg-1);
    display: flex;
    justify-content: flex-start;
}